* {
  padding: 0;
  margin: 0;
}

#hero .shadow {
  background-color: rgba(0, 0, 0, 0, 0.8);
}

#about {
  height: 30vh;
}

#services {
  background-color: rgba(0, 0, 0, 0, 0.25);
  height: 100vh;
}

.card-body {
  cursor: pointer;
}
.card-text {
  color: #7c7575;
  text-align: center;
  display: none;
}

#contact {
  height: 85vh;
}

.icons img {
  margin: 0.8rem;
}

.icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* portfolio section */
.portfolio-card {
  position: relative;
  cursor: pointer;
}
.project-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  /* opacity: 0; */
  display: none;
  background-color: rgba(0, 0, 0, 0.705);
}
.about {
  color: #ffffff;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid #fff;
  padding: 10%;
}

/* portfolio end */
