* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(124, 124, 124, 0.747);
}

#hero .shadow {
  background-color: rgba(0, 0, 0, 0, 0.8);
}

#about {
  height: 30vh;
}

#services {
  background-color: rgba(0, 0, 0, 0, 0.25);
  height: 100vh;
}

.card-body {
  cursor: pointer;
}
.card-text {
  color: #7c7575;
  text-align: center;
  display: none;
}

#contact {
  height: 85vh;
}

.icons img {
  margin: 0.8rem;
}

.icons img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* portfolio section */
.portfolio-card {
  position: relative;
  cursor: pointer;
}
.project-description {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.705);
}
.about {
  color: #ffffff;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid #fff;
  padding: 10%;
}

/* portfolio end */
/* services start */
.service-content, #contactForm {
  background-color: rgba(0, 0, 0, 0.425);
}
/* services end */
/* alert popup start */
.alert-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  height: 40px;
  background-color: rgb(35, 150, 40);
  border-radius: 4px;
  z-index: 1;
  display: none;
}

.alert-text {
  text-align: center;
  padding: 2px;
  color: #fff;
}
/* alert popup end */